<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hu.miskolc.uni.iit.hydrominder.persistence.HydrominderMapper">

	<resultMap id="usersResultMap" type="hu.miskolc.uni.iit.hydrominder.types.bean.CustomerAuthenticationCredentials">
		<result property="customerName" column="NICKNAME" jdbcType="VARCHAR"/>
		<result property="customerEmailaddress" column="EMAIL" jdbcType="VARCHAR"/>
		<result property="password" column="PASSWORD" jdbcType="VARCHAR"/>
		<result property="token" column="TOKEN" jdbcType="VARCHAR"/>
		<result property="expiryts" column="EXPIRYTS" jdbcType="TIMESTAMP"/>
		<result property="roles" column="ROLE" jdbcType="VARCHAR" />
	</resultMap>
	
	<resultMap id="customerProfileMap" type="hu.miskolc.uni.iit.hydrominder.types.bean.CustomerDefinedProfile">
		<result property="customerId" column="CUSTOMERID" jdbcType="VARCHAR"/>
		<collection property="customerProfiles" ofType="hu.miskolc.uni.iit.hydrominder.types.bean.Profile" resultMap="profileMap" columnPrefix="profile_"></collection>
	</resultMap>
	
	<resultMap id="profileMap" type="hu.miskolc.uni.iit.hydrominder.types.bean.Profile">
		<result property="name" column="NAME" jdbcType="VARCHAR"/>
		<result property="description" column="DESCRIPTION" jdbcType="VARCHAR"/>
		<result property="friendlyName" column="FRIENDLYNAME" jdbcType="VARCHAR"/>
		<result property="drinkFrequency" column="FREQUENCY" jdbcType="FLOAT"/>
		<collection property="reminders" ofType="hu.miskolc.uni.iit.hydrominder.types.bean.Reminder" resultMap="reminderMap" columnPrefix="reminder_"></collection>
	</resultMap>

	<resultMap id="reminderMap" type="hu.miskolc.uni.iit.hydrominder.types.bean.Reminder">
		<result property="title" column="TITLE" jdbcType="VARCHAR"/>
		<result property="timets" column="TIMETS" jdbcType="TIMESTAMP"/>
	</resultMap>

	<select id="getAllUsers" resultMap="usersResultMap">
		SELECT CU.nickname, CU.email, CR.ROLE FROM CUSTOMERS CU INNER JOIN CREDENTIALS CR ON CU.CREDENTIALID = CR.CREDENTIALID
	</select>
	
	<select id="getCustomerByName" resultMap="usersResultMap">
		SELECT CU.nickname, CU.email, CR.password, CR.ROLE FROM CUSTOMERS CU INNER JOIN CREDENTIALS CR ON CU.CREDENTIALID = CR.CREDENTIALID AND 
		<choose>
			<when test="authByEmail == true">
				CU.email = #{userName}	
			</when>
			<otherwise>
				CU.nickname = #{userName}
			</otherwise>
		</choose>		
	</select>
	
	<select id="getCustomerProfile" resultMap="customerProfileMap">
		SELECT CU.CUSTOMERID,PR.NAME,PR.DESCRIPTION,PR.FRIENDLYNAME,PR.FREQUENCY,DT.TITLE,DT.TIMETS FROM CUSTOMERS CU INNER JOIN HYD_DRINK_PROFILE PR ON CU.CUSTOMERID = PR.CUSTOMERID INNER JOIN HYD_DRINKTIMES DT ON PR.ID = DT.PROFILEID WHERE CU.CUSTOMERID = #{customerId};	
	</select>
	
	<insert id="insertDrinkProfile" useGeneratedKeys="true">
        <selectKey keyProperty="profileId" resultType="int" order="BEFORE">
            SELECT SEQ_PROFILE.nextVal from dual  
        </selectKey>
        INSERT INTO HYD_DRINK_PROFILE (ID,NAME,DESCRIPTION,FREQUENCY,FRIENDLYNAME,CUSTOMERID) VALUES(#{profileId},#{name},#{description},#{friendlyName},#{drinkFrequency});
    </insert>
    
	<insert id="insertReminder" useGeneratedKeys="true">
        INSERT INTO HYD_DRINKTIMES (ID,PROFILEID,TITLE,TIMETS) VALUES(SEQ_DRINKTIME.nextVal,#{name},#{profileId},#{title},#{timets});
    </insert>
    
    <insert id="batchInsertReminder" parameterType="java.util.List">
        INSERT ALL
        <foreach collection="reminders" item="element" index="index" >
		INTO EMPLOYEE (id,name) values (#{element.id},#{element.name})
		INTO HYD_DRINKTIMES (ID,PROFILEID,TITLE,TIMETS) VALUES(SEQ_DRINKTIME.nextVal,#{element.name},#{profileId},#{element.title},#{element.timets})
		</foreach>
		SELECT * FROM dual
    </insert>
    
</mapper>